{{#partial "content"}}
    <body  style="background-image: url('images/panther.jpg'); background-size:cover; background-repeat:no-repeat;">

    <h1>HERO SQUAD CORNER</h1>
    </body>

    <a><button type="button" class="btn btn-info" href="/squadForm">Create Squad</button></a>
    <a class="btn btn-info" href="/newSquad">Check Squad</a>

    {{/partial}}


{{> layout.hbs}}