{{#partial "content"}}
    <div class="row">
    <div>
        <h3>Holla! Here is your squad! </h3>
    </div>
    {{#if "Squad"}}

    <div class="col-md-6">
     {{#each "squad"}}
    <div class="card"  style="background-image: url('images/hero2.jpg'); background-size:cover; background-repeat:no-repeat;">
        <div class="card-title">
<h3>Squad name: {{name}}</h3>
        </div>
        <div class="card-body">
          <p>Cause: {{cause}}</p>
            <p>Members: {{size}}</p>
        </div>
    </div>
         {{/each}}
    </div>
    {{/if}}
       <br>
        <br>
        <a><button type="button" class="btn btn-info" href="/squadForm">Create Squad</button></a>

    </div>
    {{/partial}}

{{> layout.hbs}}