{{#partial "content"}}
    <div class="jumbotron" style="background-color: #1E212D;">
        <strong><p>"Holla!!Here is your new hero"</p></strong>
        <a class="btn btn-info" href="/hero">Check Hero</a>
    </div>
{{/partial}}


{{> layout.hbs}