{{#partial "content"}}
    <body style="background-image: url('images/wakanda.jpg'); background-size:cover; background-repeat:no-repeat;">
    <br>
    <br>
<div class="jumbotron" style="background-color: #1E212D;opacity:0.9; color:white;">
   {{#each addHeroes}}
       <h4>NAME: {{name}}</h4>
       <hr>
       <p>AGE: {{age}}</p>
       <hr>
       <p>Special Power: {{power}}</p>
       <hr>
       <p>Weakness: {{weaknesses}}</p>

       {{/each}}
</div>
    </body>
 {{/partial}}

{{>layout.hbs}}