{{#partial "content"}}

    <body  style="background-image: url('images/panther.jpg'); background-size:cover; background-repeat:no-repeat;" class="container-fluid">

    <h1 style="Color:white;">HERO SQUAD CORNER</h1>
    <div style="padding:300px;">
    <a class="btn btn-info" href="/squadForm">Create Squad</a>
    <a class="btn btn-info" href="/heroForm"style="margin-left:100px;" >Add Hero to your Squad</a>
</div>
    </body>

    {{/partial}}


{{> layout.hbs}}