{{#partial "title"}}
Hello! Let's create a Squad!
{{/partial}}



{{#partial "content"}}
<body style="background-image: url('images/squad1.jpg'); background-size:cover; background-repeat:no-repeat;">
    <form action="/success"   method="post">
        <div class="form-group">
            <label for="size">Size of the squad</label>
            <input id="size" name="size" class="form-control" type="number" required>
        </div>
        <div class="form-group">
            <label for="name">Name of the squad</label>
            <input id="name" name="name" class="form-control" type="text" required>
        </div>
        <div class="form-group">
            <label for="cause">Cause of the squad</label>
            <input id="cause" name="cause" class="form-control" type="text" required>
        </div>
<!--        <a class="btn btn-success"type="Submit">Submit</a>-->
        <a class="btn btn-info" href="/newSquad">Check Squad</a>
<button class="btn btn-success"type="submit"> Submit</button>

    </form>
</body>
{{/partial}}

{{> layout.hbs}}