{{#partial "content"}}

    <body>
    <br>
    <br>
    <div class="jumbotron" style="background-color: #1E212D;">
        <strong><p>"Holla!!Below is a new hero assigned to your squad!"</p></strong>
        <a class="btn btn-info" href="/hero">Check Hero</a>
    </div>
    </body>

{{/partial}}


{{> layout.hbs}}